.w {
  width: 1200px;
  margin: 0 auto;
}
.reg_logo {
  height: 84px;
  border-bottom: 2px solid rgb(197, 18, 0);
  padding-top: 18px;
}
.register {
  margin-top: 19px;
  border: 1px solid rgb(204, 204, 204);
}
.register h3 {
  height: 42px;
  padding: 0 11px;
  border-bottom: 1px solid rgb(204, 204, 204);
  background-color: rgb(236, 236, 236);
  font-size: 18px;
  font-weight: 400;
  line-height: 42px;
}
.reg_login {
  float: right;
  font-size: 14px;
}
.reg_login a {
  color: rgb(201, 31, 33);
}
.reg_form {
  width: 600px;
  margin: 50px auto 0;
  font-size: 12px;
}
.reg_form ul li {
  margin-bottom: 20px;
}
.reg_form ul li label {
  display: inline-block;
  width: 88px;
  text-align: right;
}
input[type="text"],
input[type="password"] {
  width: 242px;
  height: 37px;
  border: 1px solid rgb(204, 204, 204);
}
.reg_error {
  color: rgb(201, 31, 33);
}
.error_icon,
.correct_icon {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  margin-right: 4px;
  background: url(../images/error.png);
}
.correct_icon {
  background: url(../images/success.png);
}
.reg_correct {
  color: rgb(0, 129, 6);
}
.safe_level {
  margin-left: 170px;
}
.safe_level em {
  padding: 0 12px;
  color: #fff;
}
.strong {
  background-color: rgb(246, 148, 0);
}
.middle {
  background-color: rgb(50, 185, 65);
}
.weak {
  background-color: rgb(223, 31, 11);
}
.agree {
  margin-left: 95px;
}
input[type="checkbox"] {
  vertical-align: middle;
  margin-right: 4px;
}
.agree a {
  color: rgb(45, 158, 230);
}
.btn {
  width: 200px;
  height: 35px;
  color: #fff;
  background-color: rgb(201, 32, 33);
  margin: 30px 0 0 70px;
}
.mod_copyright {
  text-align: center;
  padding-top: 25px;
}
.links a {
  padding: 0 3px;
}
.copyright {
  margin-top: 20px;
}
